$fontColor: rgb(25, 40, 49);

.rbc-calendar{
    position: relative;
    font-family: monospace;
    border-radius: 5px; 
    overflow: hidden;
    // border: 1px solid black;
    padding:40px 0px 40px 0px;
}
.rbc-month-view{
    background: #fefefeb3;
    border-radius: 10px;
    z-index: 1;
}

.rbc-time-view{
    background: #fefefeb3;
    border-radius: 10px;
    z-index: 1;
}

.rbc-today {
    border: 2px solid #7ab4d8!important;
}
.rbc-current>div>div{
    position: absolute;
    width: 25px;
    height: 4px;
    background: #7ad8a3;
    top: 9px;
}

.rbc-header{
    color:$fontColor;
}

.rbc-date-cell{
    color:$fontColor;
}

.rbc-event{
    padding: 2px 2px;
    text-align: center;
    font-size: 12px;
    background: none;
    border: none!important;
}

.rbc-event-label{
    display: none;
}

.rbc-event.rbc-selected {
    background: none;
}

.rbc-show-more{
    color: rgba(22, 36, 99, 0.71);
    background: none;
}

#calenderTitle{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
// .eachSlotDay{
//     min-height: 100px;
// }
.rbc-time-slot { min-height: 60px; }

// disable all day
.rbc-time-view .rbc-row:nth-child(2) {
    display: none;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    display: none;
}
//

a {
    pointer-events: none
}