@font-face {
    font-family: syscc;
    src: url("https://ehis.kfsyscc.org/FilesServer/fonts/syscc_emp.woff") format('woff');
}

html, body, #app, .home{
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: monospace,syscc,微軟正黑體!important;
}
  
span {
    padding: 2px;
}

.homeBackground{
    position: absolute;
    top:0px; left:0px; right:0px; bottom: 0px;
    background-image: url('../pictures/texture.png');
    /* background: repeating-linear-gradient( 10deg, rgb(185, 212, 237), rgb(185, 212, 237) 125px, rgb(125, 185, 222) 125px, rgb(125, 185, 222) 250px ); */
    /* filter: blur(1px) */
}


.home {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background: rgba(40,57,101,.9);
    /* background: rgb(125, 185, 222) 125px; */
    /* repeating-linear-gradient( 10deg, rgba(125, 185, 222, 0.75), rgba(125, 185, 222, 0.75) 125px, rgb(125, 185, 222) 125px, rgb(125, 185, 222) 250px ); */
}

.homeTitle {
    position: absolute;
    top:0px;
    flex-grow: 0;
    display: flex; flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 0px;
    /* background: rgba(0, 91, 147, 0.7); */
    background: rgba(7, 41, 63, 0.7);
    width: 85%;
    cursor: pointer;
}

.homeTitle:after, .homeTitle:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 40px;
    height: 100%;
}

.homeTitle:before {
    top: 0px;
    background: linear-gradient(to top right, rgba(7, 41, 63, 0.7) 50%, transparent 51%);
}
.homeTitle:after {
    bottom: 0px;
    background: linear-gradient(to bottom right, rgba(7, 41, 63, 0.7) 50%, transparent 51%);
}

.homeActionPlane{
    flex-grow: 1;
    margin-top: 48px;
}

.divButton{
    cursor: pointer;
}

.calendarContainer {
    height: 80%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 45px;
}

.events_overview{
    background: #f6f9ffad;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    min-width: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 16px;
    font-family: Arial;
}

.events_overview_stamp{
    margin: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emr-surg{
    font-weight: bold!important;
}

@media screen and (max-width: 600px){
    .smallHide{
        display: none!important;
    }
}
@media screen and (min-width: 600px){
    .bigHide{
        display: none!important;
    }
}

.EventDivStyle{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #17171b;
    overflow: hidden;
    margin-left: 2px;
    padding-left: 5px;
    height:20px;
    pointer-events: none;
}

.EventDivStyle>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
