.loadingOutter{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.loadingCenterCircle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:  #01598f;
}




$text_color: white;
$stick_color: white; //Changes the colour of all sticks
$stick_length: 30px; //Changes length of all sticks
$stick_distance: -8px; //Changes distance between sticks (will need editing after 30px)



.loadingH1 {
  font-family: 'Lato';
  color:$text_color;
  text-transform: uppercase;
  font-size:1em;
  letter-spacing:1.5px;
  text-align:center;
  margin-top:20px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
  animation: fade 2s infinite;
}

#loadingContainer {
  width:$stick_length*6;
  padding-top:140px;
  margin:auto;
  vertical-align: middle;
}

.loadingStick {
  width: $stick_length;
  height:3px;
  background:$stick_color;
  display:inline-block;
  margin-left:$stick_distance;
}

.loadingStick:nth-child(n) {  
  transform:rotate(30deg);
  animation: fall 2s infinite;
}

.loadingStick:nth-child(2n) {  
  transform:rotate(-30deg);
  animation: rise 2s infinite;
}

@-webkit-keyframes rise {
  50% { 
    transform:rotate(30deg);
  }
}
@-moz-keyframes rise {
  50% { 
    transform:rotate(30deg);
  } 
}

@-o-keyframes rise {
  50% { 
    transform:rotate(30deg);
  }
}

@keyframes rise {
  50% { 
    transform:rotate(30deg);
  }
}

@-webkit-keyframes fall {
  50% { 
    transform:rotate(-30deg);
  }
}

@-moz-keyframes fall {
  50% { 
    transform:rotate(-30deg);
  }
}

@-o-keyframes fall {
  50% { 
    transform:rotate(-30deg);
  }
}

@keyframes fall {
  50% { 
    transform:rotate(-30deg);
  }
}

@-webkit-keyframes fade {
  50%{opacity:0.2}
  100%{opacity:1}
}

@-moz-keyframes fade {
 50%{opacity:0.2}
  100%{opacity:1}
}

@-o-keyframes fade {
   50%{opacity:0.2}
  100%{opacity:1}
}

@keyframes fade {
   50%{opacity:0.2}
  100%{opacity:1}
}